<app-header [discPage]="true"></app-header>
<div class="container">
  <div class="headline">
    <h1>Discography</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 disc-container">
      <div class="disc-cover">
        <img src="../../assets/cover/6月の花言葉.jpeg" alt="" />
        <div class="mask">
          <div class="caption">
            <p>Digital</p>
            <h3>6月の花言葉</h3>
            <a href="https://eggs.mu/artist/mikiguitar0624/song/34768667-68e7-419e-b4bb-1051f3799d95" target="_blank"><i class="fa-solid fa-circle-arrow-right"></i> EGGSで聴く</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-12 col-md-4 disc-container">
      <div class="disc-cover">
        <img src="../../assets/cover/6月の花言葉.jpeg" alt="" />
        <div class="mask">
          <div class="caption">
            <p>Digital</p>
            <h3>6月の花言葉</h3>
            <a href="https://eggs.mu/artist/mikiguitar0624/song/34768667-68e7-419e-b4bb-1051f3799d95" target="_blank"><i class="fa-solid fa-circle-arrow-right"></i> EGGSで聴く</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 disc-container">
      <div class="disc-cover">
        <img src="../../assets/cover/6月の花言葉.jpeg" alt="" />
        <div class="mask">
          <div class="caption">
            <p>Digital</p>
            <h3>6月の花言葉</h3>
            <a href="https://eggs.mu/artist/mikiguitar0624/song/34768667-68e7-419e-b4bb-1051f3799d95" target="_blank"><i class="fa-solid fa-circle-arrow-right"></i> EGGSで聴く</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 disc-container">
      <div class="disc-cover">
        <img src="../../assets/cover/6月の花言葉.jpeg" alt="" />
        <div class="mask">
          <div class="caption">
            <p>Digital</p>
            <h3>6月の花言葉</h3>
            <a href="https://eggs.mu/artist/mikiguitar0624/song/34768667-68e7-419e-b4bb-1051f3799d95" target="_blank"><i class="fa-solid fa-circle-arrow-right"></i> EGGSで聴く</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 disc-container">
      <div class="disc-cover">
        <img src="../../assets/cover/6月の花言葉.jpeg" alt="" />
        <div class="mask">
          <div class="caption">
            <p>Digital</p>
            <h3>6月の花言葉</h3>
            <a href="https://eggs.mu/artist/mikiguitar0624/song/34768667-68e7-419e-b4bb-1051f3799d95" target="_blank"><i class="fa-solid fa-circle-arrow-right"></i> EGGSで聴く</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer [bgimg]="discBg"></app-footer>
