$text: #6d6d6d;
$hover: #03a2bc;
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@mixin centerCenter($j: center, $a: center) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}
@mixin hover($translateY: -50%) {
  color: $hover;
  transform: translateY($translateY);
  transition: all 0.5s ease-in-out;
}

h1,
h2,
h3,
p,
a {
  color: $text;
  font-family: "Noto+Sans+JP", sans-serif;
}
.wrapper {
  @include centerCenter();
  flex-direction: column;
}

a:hover {
  @include hover();
}
img{
  border: 1px solid #cccbcb;
}

.headline {
  margin-bottom: 50px;
  font-size: 3.5rem;
  color: $text;
  font-family: "Caveat", sans-serif;
}

.container{
  padding: 25vh 20px 0 20px;
}


.home-liveinfo {
  transform: translateX(-400);
  margin: 100px 0;
  p {
    margin-bottom: 50px;
  }
}

.videoContainer {
  width: 100%;
  margin-bottom: 20px;
  div {
    position: relative;
    height: 0;
    padding: 30px 0 56.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    @include centerCenter($j: space-around);
  }
  .videoContainer {
    margin-bottom: 0;
  }
  .videoContainer:first-child {
    margin-right: 15px;
  }
  .videoContainer:last-child {
    margin-left: 15px;
  }
}
