<app-header [livePage]="true"></app-header>
<div class="container">
  <h1 class="headline">Live</h1>
  <div #liveContainer>
    <div *ngFor="let live of liveInfo" class="liveContainer">
      <div class="live-banner">
        <img [src]="live.banner" [alt]="live.alt" />
      </div>
      <div class="live-info">
        <h3>{{ live.data }}</h3>
        <p class="title">{{ live.title }}</p>
        <p class="time">{{ live.time }}</p>
        <p class="price">{{ live.price }}</p>
      </div>
      <div class="link">
        <a href="{{ live.link }}"
          ><i class="fa-solid fa-circle-arrow-right"></i> {{ live.linkName }}</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer [bgimg]="liveBg"></app-footer>
