<app-header [livePage]="true"></app-header>
<div class="container">
  <h1 class="headline">Live</h1>
  <div class="liveContainer">
    <div class="live-banner">
      <img src="../../assets/banner/CityLights_cover.png" alt="" />
    </div>
    <div class="live-info">
      <h3>2022/6/17 @下北沢MOSAIC</h3>
      <p class="title">City Lights vol.89</p>
      <p class="time">OPEN 18:00/START 19:30</p>
      <p class="price">¥ 2,400(+1 drink)</p>
    </div>
    <div class="link">
      <a href=""><i class="fa-solid fa-circle-arrow-right"></i> 受付終了！ありがとう！</a>
    </div>
  </div>
  <!-- Sec -->
  <div class="liveContainer">
    <div class="live-banner">
      <img src="../../assets/banner/CityLights_cover.png" alt="" />
    </div>
    <div class="live-info">
      <h3>2022/6/17 @下北沢MOSAIC</h3>
      <p class="title">City Lights vol.89</p>
      <p class="time">OPEN 18:00/START 19:30</p>
      <p class="price">¥ 2,400(+1 drink)</p>
    </div>
    <div class="link">
      <a href=""><i class="fa-solid fa-circle-arrow-right"></i> 受付終了！ありがとう！</a>
    </div>
  </div>
</div>
<app-footer [bgimg]="liveBg"></app-footer>
